MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=super-secreto-largo
ADMIN_USERNAME=AzmodaColombia
ADMIN_PASSWORD_HASH=5852dbc39cf56ece3a2a91c9fa3f5992:1658934620e8d718dd7539b7443a8701fa29150b935eaa40a7c57b801f94ce0b
CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=tu-api-key
CLOUDINARY_API_SECRET=tu-api-secret
